.sidenav-container {
    overflow: hidden;
    transition: transform 250ms cubic-bezier(.6, 0, 0, 1), visibility 250ms;
    visibility: visible;
    width: var(--viewer-pdf-sidenav-width);
    border-right: 1px solid var(--border-color);
}

.sidebar-link,
a.sidebar-link {
    cursor: pointer;
    display: block;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    min-width: 64px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    z-index: 20;
    height: 100%;
    max-height: 100vh;
    padding-top: var(--ifm-navbar-height);
    position: sticky;
    top: 0;
    transition: opacity 50ms;
    width: 300px;
}

.sidenav-container {
    position: fixed;
    z-index: 100;
    width: 0;
    height: 100%;
    padding-bottom: 50px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-top: 1px solid #aaa;
}

@media (min-width: 768px) {
    .sidenav-container {
        position: initial;
        width: var(--sidebar-width);
    }
}