@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);

html{
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    color-scheme: light;
}

body {
    height: 100%;
    width: 100%;
    font: var(--font-size-base)/var(--line-height-base) var(--font-family-base);
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0;
}

input {
    border: none;
    color: white;
    font-family: inherit;
    line-height: inherit;
    outline: none;
    padding: 0 var(--page-selector-spacing);
    text-align: center;
}

a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
    transition: color var(--transition-fast) var(--transition-timing-default);
    cursor: pointer;
}
