.container {
    display: flex;
    flex-direction: row;
    gap: 1.275rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.viewer-container {
    position: relative;
    display: flex;
    gap: 1.275rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.viewer-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    overflow: hidden;
}

.viewer-title {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.viewer-title-bar {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #d5d5d5;
    background-color: #f5f5f5;
}

.scroller {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px dashed #3a3a3a;
    padding-top: 20px;
    overflow: auto;
}

#markany-viewer {
    width: 100%;
    height: 100%;
}

#pdf-render-viewer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px dashed #3a3a3a;
    padding-top: 20px;
    overflow: auto;
}

#pdf-markany-canvas {
    left: var(--pdf-left, 0);
    width: auto;
    height: calc(100% - 20px);
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: rgba(50, 54, 57, 0.15) 0px 1px 3px 1px;
}
#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CSS */
.toolbar-btn {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 14px;
  height: 28px;
  justify-content: center;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.toolbar-btn:focus {
  color: #171e29;
}

.toolbar-btn:hover {
  border-color: #7530aa;
  color: #7530aa;
  fill: #7530aa;
}

.toolbar-btn:active {
  border-color: #7530aa;
  color: #7530aa;
  fill: #7530aa;
}

.toolbar-btn:disabled {
    border-color: #d5d5d5;
    color: #d5d5d5;
    cursor: not-allowed;
    fill: #d5d5d5;
}