.sidenav-container {
    overflow: hidden;
    transition: transform 250ms cubic-bezier(.6, 0, 0, 1), visibility 250ms;
    visibility: visible;
}

.sidebar-link,
a.sidebar-link {
    cursor: pointer;
    display: block;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    min-width: 64px;
}

.sidenav {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 20;
    height: 100%;
    max-height: 100vh;
    padding-top: var(--ifm-navbar-height);
    /* top: 0; */
    background-color: white;
    transition: opacity 50ms;
    border-right: 1px solid var(--border-color);
    width: var(--viewer-sidenav-width);
}

.sidenav-show {
    display: flex;
}

